/* .pagination-link-prev > span {
  margin-right: 20px;
  border-radius: 15px !important;
}

.pagination-link-prev > a {
  margin-right: 20px;
  border-radius: 15px;
}

.pagination-link-next > span {
  margin-left: 20px;
  border-radius: 15px;
}

.pagination-link-next > a {
  margin-left: 20px !important;
  border-radius: 15px !important;
}

.pagination-link > a {
  border-radius: 12px !important;
}

.pagination-link > span {
  border-radius: 12px !important;
} */
